.card{
    border: 2px solid #BB4915;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2{
        font-size: 2rem;
        letter-spacing: 2px;
    }
    img{
        width: 20%;
    }
}

.header-dead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    transition-duration: 2s;
    h2{
        font-size: 2rem;
        letter-spacing: 2px;
        transition-duration: 1s;
        text-decoration: line-through red;
    }
    img{
        width: 20%;
    }
}

.caract{
    display: flex;
    justify-content: space-around;
    background-color: #BB4915;
    transition-duration: 1.5s;
    margin: 10px 0 15px 0;
    padding: 1px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    }
}
.blessé{
    display: flex;
    justify-content: space-around;
    background-color: #af0505;
    transition-duration: 1.5s;
    margin: 10px 0 15px 0;
    padding: 1px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    }
}
.dead{
   display: flex;
    justify-content: space-around;
    background-color: #66070769;
    transition-duration: 1.5s;
    margin: 10px 0 15px 0;
    padding: 1px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    } 
}

.buttonCounter{
    display: flex;
    justify-content: center;
    button{
        margin: 0 10px;
        color: #BB4915;
        font-size: larger;
    }
}
.keyword{
    font-size: 0.7rem;
    color: black;
    background: whitesmoke;
    border-radius: 10px;
    p{
        margin: 0;
        padding: 2px 5px;
    }
}

.armeTirCaract, .armeCcCaract, .armeCc2Caract{
    display: flex;
    justify-content: space-around;   
    margin-top: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    }
}
ul{
padding-left: 0;
}