.card{
    border: 2px solid #BB4915;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    p{
        color: black;
    }
    h1{
        color: whitesmoke;
    }
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2{
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
    img{
        width: 25%;
        height: 25%;
    }
}

.header-dead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    transition-duration: 2s;
    h2{
        font-size: 1.8rem;
        letter-spacing: 2px;
        transition-duration: 1s;
        text-decoration: line-through red;
    }
    img{
        width: 25%;
        height: 25%;
    }
}

.hide {
    display: none;
  }

.caract{
    display: flex;
    justify-content: space-around;
    background-color: #BB4915;
    transition-duration: 1.5s;
    margin: 10px 20px 15px 20px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
        
    }
    .contener_move{
        display: flex;
        align-items: center;
        .rond_blanc{
            background: whitesmoke;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin-left: 3px;
        }
    }
}
.blessé{
    display: flex;
    justify-content: space-around;
    background-color: #830707dc;
    transition-duration: 1.5s;
    margin: 10px 20px 15px 20px;
    padding: 1px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    }
}
.dead{
   display: flex;
    justify-content: space-around;
    background-color: #66070769;
    transition-duration: 1.5s;
    margin: 10px 20px 15px 20px;
    padding: 1px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    } 
}

.buttonCounter{
    display: flex;
    justify-content: center;
    button{
        margin: 0 10px;
        color: #BB4915;
        font-size: larger;
        border-color:#BB4915 ;
        background-color: #1a1a1a;
    }
}

.armeTirCaract .contener-bleu{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-size: 0.7rem;
}
.actions, .aptitudes{
    margin: 10px 20px 15px;
    background: #BB4915;
    border-radius: 15px;
}
.traits{
    background: whitesmoke;
    border-radius: 15px;
    font-size: 0.7rem;
    margin-top: 2vh;
    padding: 2px;
}
.align{
    display: flex;
  
}
.armeTirCaract, .armeTirCaract2, .armeCcCaract, .armeCcCaract2{
    display: flex;
    justify-content: space-around;   
    margin-top: 10px;
    margin: 10px 20px 15px 20px;
    .carre-bleu{
        height: 15px;
        width: 15px;
        background: rgb(15, 15, 241);
        margin-left: 5px;
        span{
            color: #bbb9b9;
        }
       
    } 
    span{
            color: #bbb9b9;
            font-weight: bold;
        }
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        font-size: 0.7rem;
        span{
            color: rgb(187, 185, 185);
            font-weight: bold;
        }
    }
    &.hide{
        display: none;
    }
}
.armeName{
    margin: 10px 20px 15px 20px;
    background: #BB4915;
    border-radius: 15px;
}
ul{
padding-left: 0;
li{
    list-style: none;
}
}

.actif{
    
  button{
    background: green;
    transition: 1s;
  }
}
.inactif{
    
    button{
        background: red;
        transition: 1s;
      }
}

    /* Styles pour les écrans de moins de 480px de large (téléphones) */
    @media only screen and (max-width: 767px) {
        .card {
            img{
                width: 20%;
            }
          justify-content: center;
        }
      
      .caract {
        display: flex;
        justify-content: space-around;
        background-color: #BB4915;
        transition-duration: 1.5s;
        margin: 10px 5px 15px 5px;
        border-radius: 10px;
        p {
          span {
            color: black;
            font-weight: bold;
          }
        }
      }
      
      .blessé {
        display: flex;
        justify-content: space-around;
        background-color: #830707dc;
        transition-duration: 1.5s;
        margin: 10px 5px 15px 5px;
        border-radius: 10px;
        p {
          span {
            color: black;
            font-weight: bold;
          }
        }
      }
      
      .dead {
        display: flex;
        justify-content: space-around;
        background-color: #66070769;
        transition-duration: 1.5s;
        margin: 10px 5px 15px 5px;
        border-radius: 10px;
        p {
          span {
            color: black;
            font-weight: bold;
          }
        }
      }
    }