.card{
    border: 2px solid #BB4915;
    border-radius: 10px;
    margin-bottom: 10px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    h2{
        font-size: 2rem;
        letter-spacing: 2px;
    }
    img{
        width: 20%;
    }
}

.caract{
    display: flex;
    justify-content: space-around;
    background-color: #BB4915;
    margin: 10px 0 15px 0;
    padding: 1px;
    border-radius: 10px;
    p{
        display: flex;
        flex-direction: column;
        margin: 0;
        span{
            color: black;
            font-weight: bold;
        }
    }
}

.buttonCounter{
    display: flex;
    justify-content: center;
    button{
        margin: 0 10px;
        color: #BB4915;
        font-size: larger;
    }
}
.keyword{
    font-size: 0.7rem;
    color: black;
    background: whitesmoke;
    border-radius: 10px;
    p{
        margin: 0;
        padding: 2px 5px;
    }
}