#root {
  max-width: 1280px;
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #494949;
}

h1{
  color:#BB4915;
}
h2{
  color:#BB4915;
}
.container-logo{
  display: flex;
  justify-content: center;
  img{
    width: 80%;
  }
  
} 

.card {
  padding: 2em;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

.button:hover{
border-color: #BB4915;
}