p, label{
    color: whitesmoke
}
p{
    margin: 2px;
}
.auth{
display: flex;
flex-direction: column;
align-items: center;

.buttonConnexion{
    width: 45%;
    margin: 10px;
}
}
form h2{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
.buttonConnexion{
    background-color: #1a1a1a;
    color: whitesmoke;
}